Cool T-Shirts Inc. has asked you to analyze data on visits to their website. Your job is to build a funnel, which is a description of how many people continue to the next step of a multi-step process.

In this case, our funnel is going to describe the following process:

A user visits CoolTShirts.com
A user adds a t-shirt to their cart
A user clicks “checkout”
A user actually purchases a t-shirt

In [2]:
import pandas as pd

In [4]:
visits = pd.read_csv('visits.csv',
                     parse_dates=[1])
cart = pd.read_csv('cart.csv',
                   parse_dates=[1])
checkout = pd.read_csv('checkout.csv',
                       parse_dates=[1])
purchase = pd.read_csv('purchase.csv',
                       parse_dates=[1])

# print(visits)
# print(cart)
# print(checkout)
# print(purchase)

visits_cart = pd.merge(visits, cart, how = 'left')
visits_cart.head()

,user_id,visit_time,cart_time
0,943647ef-3682-4750-a2e1-918ba6f16188,2017-04-07 15:14:00,NaT
1,0c3a3dd0-fb64-4eac-bf84-ba069ce409f2,2017-01-26 14:24:00,2017-01-26 14:44:00
2,6e0b2d60-4027-4d9a-babd-0e7d40859fb1,2017-08-20 08:23:00,2017-08-20 08:31:00
3,6879527e-c5a6-4d14-b2da-50b85212b0ab,2017-11-04 18:15:00,NaT
4,a84327ff-5daa-4ba1-b789-d5b4caf81e96,2017-02-27 11:25:00,NaT

In [7]:
length = len(visits_cart.loc[0:])
# print(length)

is_null = visits_cart[visits_cart.cart_time.isnull()]
is_null_number = len(is_null.loc[0:])
# print(is_null)
print(is_null_number)
users_percentage = (float(is_null_number)/length)*100 
print( users_percentage)

cart_checkout = pd.merge(cart, checkout, how = 'left')
cart_checkout.head()

1652
82.6

,user_id,cart_time,checkout_time
0,2be90e7c-9cca-44e0-bcc5-124b945ff168,2017-11-07 20:45:00,2017-11-07 21:14:00
1,2be90e7c-9cca-44e0-bcc5-124b945ff168,2017-11-07 20:45:00,2017-11-07 20:50:00
2,2be90e7c-9cca-44e0-bcc5-124b945ff168,2017-11-07 20:45:00,2017-11-07 21:11:00
3,4397f73f-1da3-4ab3-91af-762792e25973,2017-05-27 01:35:00,NaT
4,a9db3d4b-0a0a-4398-a55a-ebb2c7adf663,2017-03-04 10:38:00,2017-03-04 11:04:00

In [9]:
cart_checkout_length =  len(cart_checkout.loc[0:])
# print(cart_checkout_length)
is_null_checkout = cart_checkout[cart_checkout.checkout_time.isnull()]
is_null_checkout_num = len(is_null_checkout.loc[0:])
# print(is_null_checkout)
# print(is_null_checkout_num)
users_percentage_check = (float(is_null_checkout_num)/cart_checkout_length)*100 
users_percentage_check

25.311203319502074

In [10]:
checkout_purchase = pd.merge(checkout, purchase, how = 'left')
checkout_purchase.head()

,user_id,checkout_time,purchase_time
0,d33bdc47-4afa-45bc-b4e4-dbe948e34c0d,2017-06-25 09:29:00,2017-06-25 09:49:00
1,d33bdc47-4afa-45bc-b4e4-dbe948e34c0d,2017-06-25 09:29:00,2017-06-25 09:56:00
2,d33bdc47-4afa-45bc-b4e4-dbe948e34c0d,2017-06-25 09:29:00,2017-06-25 09:57:00
3,4ac186f0-9954-4fea-8a27-c081e428e34e,2017-04-07 20:11:00,NaT
4,3c9c78a7-124a-4b77-8d2e-e1926e011e7d,2017-07-13 11:38:00,NaT

In [12]:
checkout_purchase_num = len(checkout_purchase)
# print(checkout_purchase_num)
is_null_purchase = checkout_purchase[checkout_purchase.purchase_time.isnull()]
is_null_purchase_num = len(is_null_purchase)
print(is_null_purchase_num)
percentage_not_purchase = (float(is_null_purchase_num)/ checkout_purchase_num) * 100
print(percentage_not_purchase)
all_data = visits.merge(cart, how='left').merge(checkout, how='left').merge(purchase, how='left')
# print(all_data.head())

all_data['time_to_purchase'] = \
    all_data.purchase_time - \
    all_data.visit_time

all_data.time_to_purchase.head()

101
16.88963210702341

0        NaT
1   00:44:00
2        NaT
3        NaT
4        NaT
Name: time_to_purchase, dtype: timedelta64[ns]

In [13]:
all_data.time_to_purchase.mean()

Timedelta('0 days 00:43:53.360160')